.block {
  margin-top: 0;
}

.heading {
  margin: 0;
  text-align: left;
  color: #000000;
  font-family: 'Guyot Press', serif;
  font-weight: 401;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.0002em;
}

.headingBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.metaMark {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0089c4;
}

.metaMark svg {
  display: block;
}

@media (max-width: 800px) {
  .heading {
    font-size: 28px;
  }
}
